In [67]:
import pandas as pd
import numpy as np
import codecs
import statistics as stat
from statistics import math
import scipy.stats as st

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test  
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt.  
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [68]:
f = codecs.open('machine.txt', 'r', 'utf-16')
machine = pd.read_csv(f, sep='\t')
machine.columns = ['new_machine', 'old_machine']
display(machine.head())

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [69]:
len(machine['new_machine']), np.mean(machine['new_machine']), np.std(machine['new_machine'])

(10, 42.14, 0.6483826030978941)

In [70]:
len(machine['old_machine']), np.mean(machine['old_machine']), np.std(machine['old_machine'])

(10, 43.230000000000004, 0.7114070564732956)

In [71]:
st.ttest_ind(machine['new_machine'], machine['old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

Since the p-value is less than the significant value (0.05), we reject our null hypothesis and can say with 95% of confidence that we have enough evidence to discard the null hypothesis.  
The avereage packing time between the new machine and the old machine are not the same.